input.checkbox {
    display: none;
}
.color_mode {
    background: #f53939;
    position: fixed;
    right: 15px;
    top: 50%;
    width: 45px;
    height: 22px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transform: scale(1.5) translateY(-50%);
    -webkit-transform: scale(1.5) translateY(-50%);
    -moz-transform: scale(1.5) translateY(-50%);
    -ms-transform: scale(1.5) translateY(-50%);
    -o-transform: scale(1.5) translateY(-50%);
}

.ball {
    position: absolute;
    left: 0px;
    top: 1px;
    width: 20px;
    background: #fff;
    cursor: pointer;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: $trans;
    -webkit-transition: $trans;
    -moz-transition: $trans;
    -ms-transition: $trans;
    -o-transition: $trans;
}

.fa-moon {
    color: #f1c40f;
    position: absolute;
    left: 3px;
    top: 4px;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
}

.fa-sun {
    color: #f1c40f;
    position: absolute;
    right: 2px;
    top: 3px;
}

.checkbox:checked+.label .ball {
    transform: translatex(25px);
    -webkit-transform: translatex(25px);
    -moz-transform: translatex(25px);
    -ms-transform: translatex(25px);
    -o-transform: translatex(25px);
}

.dark {
    background: #575757;
}
.dark .common_heading{
    h2{
        color:#fff !important;
    }
}
.dark #reward_part,#development_part .common_heading{
h2{
    color:#000 !important;
}
.dark #reward_part,#development_part{
    p{
        color:#000 !important;
    }
}
}
