#sulation_part{
padding:100px 0;
text-align: center;
a{
    padding:0 30px;
    line-height: 50px;
    @include fnts(#fff, 16px, 700, $Nunito);
    background: #f53939;
    margin-top: 60px;
    text-transform: uppercase;
}
.common_heading{
    margin-bottom: 90px;
    h2 {
        @include fnts(#000, 36px, 800, $Nunito);
        padding-bottom: 25px;
        position: relative;
        text-transform: capitalize;

        &::after {
            position: absolute;
            content: "";
            left: 50%;
            bottom: 0;
            background: #ff5555;
            width: 200px;
            height: 3px;
            transform: translatex(-50%);
            -webkit-transform: translatex(-50%);
            -moz-transform: translatex(-50%);
            -ms-transform: translatex(-50%);
            -o-transform: translatex(-50%);
        }
    }
}
.sulation_text{
    padding-left:60px;
    position: relative;
    text-align:left;
    h5{
        @include fnts(#000, 25px, 700, $Nunito); 
            text-transform: uppercase;
            margin-bottom: 15px;
    }
    i{
        position: absolute;
        left: 0;
        top: 0;
        font-size: 30px;
        color:#2678bd;
    }
    p{
        @include fnts(#222, 16px, 400, $Nunito);
            line-height: 26px;
    }
}
.b_mar{
    margin-bottom: 60px;
}
}
