*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style: none;
}
ul,ol,li,h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* ============= Common css End ================= */

/* ============= Header css Start ================= */

/* ============= Header css End ================= */




/* ============= Common css End ================= */
/* ============= Common css End ================= */
/* ============= Common css End ================= */
/* ============= Common css End ================= */
/* ============= Common css End ================= */
/* ============= Common css End ================= */